<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/homepage.css">
    <title>Reader Home</title>
</head>
<body>

  <h1>Reader Home</h1>

  <% if (setting) { %>
    <div class="setting-box">
      <h3><%= setting.setting_title %></h3>
      <p><%= setting.setting_subtitle %></p>
      <p>Author: <%= setting.setting_author_name %></p>
    </div>
  <% } %>


  <div class="article-gallery">
    <% articles.forEach(article => { %>
      <% if (article.is_published) { %>
        <a href="/reader/reading-article/<%= article.article_id %>" class="article-box"> <!-- Add class="article-box" here -->
          <div>
            <h3><%= article.article_title %></h3>
            <p><%= article.article_subtitle %></p>
            <p>Last Modified: <%= article.article_last_modified %></p>
          </div>
        </a>
      <% } %>
    <% }); %>
  </div>
 

</body>
</html> 